@using MudBlazor;

<footer class="footer bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h5>About Us</h5>
                <p>
                    We are committed to delivering the best experience for our users. Our application serves as a platform for Catalogify users.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><NavLink class="text-white" href="/">Home</NavLink></li>
                    <li><NavLink class="text-white" href="/about">About</NavLink></li>
                    <li><NavLink class="text-white" href="/services">Services</NavLink></li>
                    <li><NavLink class="text-white" href="/contact">Contact</NavLink></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                    <li>Phone: +123 456 7890</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>Follow Us</h5>
                <div>
                    @* <MudIcon Icon="@Icons.Material.Filled.Twitter" class="icon mr-2" style="color:white;"/>
                    <MudIcon Icon="@Icons.Material.Filled.Facebook" class="icon mr-2" style="color:white;"/>
                    <MudIcon Icon="@Icons.Material.Filled.Instagram" class="icon" style="color:white;"/> *@
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            © 2024 Catalogify - All Rights Reserved
        </div>
    </div>
</footer>

@code {

}
